body {
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/GfRLKaE/videoblocks-gold-glitter-sparkle-background_rqrwak3hm_thumbnail-small01.jpg");
    }
img{
    border-radius: 500px;
    }
size{
    width:50px;
    width:50px; 
    }
.aclass{ 
    font-family: 'Black Han Sans', sans-serif;
    font-size:40px;
    text-align:center;
    color:white;
    }
    
    